.largePlayBtn.icon-play {
   content: "";
   visibility: hidden !important;
}

.mwPlayerContainer.largePlayBtn, .mwPlayerContainer.largePlayBtn:hover {
    content: "";
    visibility: hidden !important;
}
